@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        @Body
    </main>
    <a href="/iletisim" class="contact-float">
        <i class="fas fa-phone contact-icon"></i>
        <span>İletişim</span>
    </a>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
} 